// NECESSARY
 
[data-accordion-element-content] {
  height: auto;
  overflow: hidden;
  transition: height .5s;
}

// JUST TO STYLE THIS PEN

* {
  box-sizing: border-box;
}

body {
    overflow: scroll;
}

.card {
  width: 400px;
  margin: 50px auto;
  border-radius: 2px;
  background: #303030;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
  
article {
  position: relative;
  font-family: sans-serif;
  transition: all .3s;
  background: #303030;
  
  &.selected {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(2, 2, 2, 0.4);
    z-index: 2;
  } 
}
  
h1 {
  position: relative;
  background: #303030 ;
  padding: 20px 75px 20px 30px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  overflow: hidden;
  transition: background .3s;
  
  &:hover,
  .selected & {
    cursor: pointer;
    background: #303030;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
    margin-right: 30px;
    width: 20px;
    height: 2px;
    background: #fff;
    transition: transform .3s;
  }

  &:before {
    transform: rotate(0deg);
    animation: close-line-one-in .8s forwards;
    
    .selected & {
      animation: close-line-one-out .8s forwards;
    }
  }
  
  &:after {
    transform: rotate(90deg);
    animation: close-line-two-in .8s forwards;
    
    .selected & {
      animation: close-line-two-out .8s forwards;  
    }
  }

}

.content {  
  opacity: 0;
  transform: translateY(20px);
  transition: all ease-out .4s .1s;
  
  .selected & {
    transform: translateY(0);
    opacity: 1;
  }
  
  .collapsed & {
    display: none;
  }
}

p {
  padding: 25px 30px 40px;
  background: #303030;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}


@keyframes close-line-one-out {
    0%, 50% {
      transform: translateX(0);
    }
    75% { 
      transform: translateX(50px);
    }
    76% { 
      transform: translateX(50px) translateY(50px);
    }
    100% { 
      transform: rotate(45deg);
    }
}

@keyframes close-line-one-in {
    0%, 20% {
      transform: rotate(45deg);
    }
    60% { 
      transform: translateX(50px) translateY(50px) rotate(45deg);
    }
    61% { 
      transform: translateX(50px);
    }
    100% { 
      transform: rotate(0deg);
    }
}

@keyframes close-line-two-out {
    0%, 50% { 
      transform: rotate(90deg);
    }
    75% { 
      transform: translateY(-50px) rotate(90deg);
    }
    76% {
      transform: translateY(-50px) translateX(50px) rotate(90deg);
    }
    100% { 
      transform: rotate(135deg);
    }
}

@keyframes close-line-two-in {
    0% { 
      transform: rotate(135deg);
    }
    50% { 
      transform: translateY(-50px) translateX(50px) rotate(135deg);
    }
    51% { 
      transform: translateY(-50px) rotate(90deg);
    }
    100% { 
      transform: rotate(90deg);
    }
}